header {
    display: flex;
    background-color: #1D7271;
    word-spacing:100%;
    font-weight: bold;
}
.icons{
    margin-right: 5%;
    text-align: right;
    flex: 50%;
    line-height: 0px;
}
div1{
    margin-left: 5%;
    text-align: left;
    flex: 50%;
    line-height: 0px;
}
body{
    background-color: #62e3d0;
}
#head_anchors{
    color: #62e3d0;
    text-decoration: none;
    margin-right: 02%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* form{
    text-align: center;
}
.aboutme{
    align-items: center;
    text-align: center;
} */